<style type="text/css">
	*{
		color:#30627E;
	}

	a{
		text-decoration: none;
		color:#30627E;
	}
	a:hover{
		color:#00ffbc;
	}
	
</style>
<div style="font-size:25">
<form action="{% url 'requestPage' vehicle.vehicle_id %}" method="post">{% csrf_token %}
<ul>
	{{form.as_ul}}
</ul>
	
<input type="submit" name="submit" value="report">

</form>



<li style="text-align:center"><a href="{% url 'index' %}">Home</a></li>
<br>
<li style="text-align:center"><a href="{% url 'dashboard' vehicle.vehicle_id %}">Dashboard</a></li>
<br>
<li style="text-align:center"><a href="{% url 'service' vehicle.vehicle_id %}">Service</a></li>
</div>	