<style type="text/css">
	*{
		color:#30627E;
	}
	a{
		text-decoration: none;
		color:#30627E;
	}
	a:hover{
		color:#00ffbc;
	}
</style>
<div style="font-size:25">
<h1>{{ supplier.supplier_id }}</h1>
<ul>
	<li>Supplier Name : {{supplier.supplier_name}}</li>
	<li>Mail-ID : {{supplier.supplier_mail_id}}</li>
	<li>Phone : {{supplier.supplier_phone_number}}</li>
	<li>Location : {{supplier.supplier_latitude}}, {{supplier.supplier_longitude}}</li>
	<br>
</ul>
<div>
	<h3 style="text-align:center">Supplying systems</h3>
	{% for system in supplier.system_set.all %}
    	
	    <div style="text-align:center">
	    	<h4>{{ system.system_name }}</h4>
	    	<li>System Lead time : {{ system.system_lead_time }} days</li>
	    	<li>Volume per unit : {{ system.system_volume_per_unit}} cu.cm</li>
	    	<li>Minumum order quantity : {{ system.system_MOQ }}</li>
	    	<li>Cost per unit : {{ system.system_cost_per_system }} rs</li
	    	>
	    	<li>Ordered quantity : {{ system.ordered_quantity }}</li>
	    	<li>Estimated time of arrival : {{ system.order_ETA }} days</li>
	    </div>
	{% endfor %}
	</div>
	<br>
	<br>
	<div style="font-size:45;text-align:center">
		<a href="{% url 'supplierIndex' %}">Home</a>
	</div>
</div>

